  <h1 class="center margin1">管理者用ホーム</h1>
   <div class="frame">
    <div class="center margin1"><%= link_to 'ユーザー情報をみる', admins_people_path %></div>
    <div class="center margin1"><%= link_to '掲示板を見る', posts_path %></div>
   </div>
