  <div class="center">
   <h1>ご利用にあたっての注意点</h1>
  </div>

<p>当サイトを利用していただくにあたり、ユーザー同士が気持ちよく利用できるよう皆様のご協力が必要となります。
下記の点に注意し、ご利用ください。（利用規約やプライバシーポリシーもよく読んでご利用ください）</p>

<p>・チーム情報は任意での入力となります。しかし、情報が詳細でないと検索に引っかからず、マッチ率が下がります。
入力できるところは入力し、マッチ率をあげましょう。</p>
<p>・チームのキャプテン（代表）がご登録ください。１チームのメンバーが複数人登録することは原則として禁止していませんが、複数登録に伴い当サイト運営に支障をきたす恐れが
あると判断した時、当該ユーザーのアカウント停止・退会を行う可能性があります。（詳しくは利用規約第５条・８条）</p>
<p>・ユーザーは掲示板に投稿するさい、誹謗中傷など公序良俗に反する書き込みはやめてください。
また、虚偽の投稿などで、マッチング率を上げようとする行為はおやめください。（詳しくは利用規約第５条）</p>
<p>・チームレベルはあくまで個人の考えに左右されます。しかし、故意にレベルの違う相手とマッチングし、不快極まりない試合をするなどはおやめください。
両チームが楽しく試合ができるよう当サイトを作りましたので、何卒ご理解ご協力ください。</p>
<p>・ユーザー同士がメッセージを送り合う際、丁寧な言葉遣いで連絡を取ってください。相手を不快にさせる・いたずらで連絡を送るような行為はおやめください。（詳しくは利用規約第５条）</p>
<p>・マッチメイクされたチーム同士でのトラブルは、当サイトは責任を持ちません。</p>
