
<h1>春木翔</h1>

     <% if flash[:entry] %>
       <p><%= flash[:entry] %></p>
      <% end %>


<%= link_to 'user一覧', users_path %>

<%= link_to '募集する', new_post_path %>
<%= link_to '掲示板をみる', posts_path %>
