
<h1 class="center margin1">セッションが切れました</h1>

<div class="container">
  <div class="row justify-content-center">
    <div class="col-md-5">
      <div class="center margin1"><%= link_to 'ホームへ', root_path, class: 'btn btn-info various-width' %></div>
      <div class="center"><%= link_to '再ログイン', new_user_session_path, class: 'btn btn-info various-width' %></div>
    </div>
  </div>
</div>
