/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *

 */
 // Custom bootstrap variables must be set or imported *before* bootstrap.
 @import "bootstrap";

 * {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
 }

 // variousscreen
 .frame{
   width: 80%;
   margin:0 auto;
 }

 ul li {
   list-style: none;
 }

 section{
   margin: 100px auto;
 }

 .active{
   position: relative;
 }
 .active .unread-num{
   position: absolute;
   top: -4px;
   right: 0;
   color: #fff;
   background: tomato;
   border-radius: 50px;
   padding: 3px;
   font-size: 11px;
 }

 .pagination {
  justify-content: center;
}
.pagination span{
  margin: 0 2px;
}

.various-width{
  width: 100%;
}
 .center{
   text-align: center;
 }
 .various-select select{
   width: 100%;
 }
 .radius{
   border-radius: 50px;
 }
 .margin1{
   margin:30px auto;
 }
 .margin2{
   margin:10px auto;
 }
 .font1{
   font-size: 18px;
   font-weight: bold;
 }
 .font2{
   font-size: 20px;
   font-weight: bold;
 }
 .font3{
   font-size: 13px;
   color: #484040b3;
 }
 .font4{
   font-size: 16px;
   color: #484040b3;
 }
// variousscreen


// homeここから
.navbar-brand img{
  height: 60px;
  width: 108px;
  object-fit: cover;
}
.home-message p{
  margin-bottom:0;
}
.header-image{
  width: 100%;
  height: 550px;
  margin: 0 ;
  background: url("/images/footsal9.jpg") no-repeat center center / cover;
  object-fit: cover;
  position: relative;
}
.header-image p{
  position: absolute;
  bottom: 20px;
  right: 20px;
  font-size: 30px;
  font-family: 'Quicksand',sans-serif;
  color: #fff;
  text-shadow:
  1px 1px 1px #fff,
  1px -1px 1px #fff,
  -1px 1px 1px #000,
  -1px -1px 1px #000,
  0 0 22px #000;
}
.header-image span{
  font-size: 50px;
  font-family: 'Quicksand',sans-serif;
  color: #fff;
  text-shadow:
  1px 1px 1px #fff,
  1px -1px 1px #fff,
  -1px 1px 1px #000,
  -1px -1px 1px #000,
  0 0 22px #000;
}
.fixed-basic{
  height: 60px;
  line-height: 60px;
  margin-bottom: 70px;
  font-family: 'Quicksand',sans-serif;
  color: #fff;
  text-shadow:
  1px 1px 1px #fff,
  1px -1px 1px #fff,
  -1px 1px 1px #000,
  -1px -1px 1px #000,
  0 0 22px #000;
}

.parallax-window {
 min-height: 60px;
 background: transparent;
}

.flex{
  margin:0 auto 30px;
}
.item1{
  box-shadow: 5px 10px 20px rgba(0,0,0,0.35);
}

.item2{
 margin: 20px;
 border: 1px solid;
 border-radius: 10px;
}

.contain{
  display: flex;
  flex-wrap: wrap;
}

.team{
  position: relative;
  width: 300px;
  height: 300px;
  margin: 0 auto 67px;
}
.team img{
  width: 300px;
  height: 300px;
  object-fit: cover;
  object-position: 0% 100%;
  box-shadow: 5px 10px 20px rgba(0,0,0,0.35);
}
.team p{
  position: absolute;
  top: 10px;
  left: 10px;
  font-size: 40px;
  font-family: 'Quicksand',sans-serif;
  color: #fff;
  text-shadow:
  1px 1px 1px #fff,
  1px -1px 1px #fff,
  -1px 1px 1px #000,
  -1px -1px 1px #000,
  0 0 22px #000;
}

.post{
  position: relative;
  width: 300px;
  height: 300px;
  margin: 0 auto 67px;
}
.post img{
  width: 300px;
  height: 300px;
  object-fit: cover;
  object-position: 15% 25%;
  box-shadow: 5px 10px 20px rgba(0,0,0,0.35);
}
.post p{
  position: absolute;
  top: 10px;
  left: 10px;
  font-size: 40px;
  font-family: 'Quicksand',sans-serif;
  color: #fff;
  text-shadow:
  1px 1px 1px #fff,
  1px -1px 1px #fff,
  -1px 1px 1px #000,
  -1px -1px 1px #000,
  0 0 22px #000;
}

.board{
  position: relative;
  width: 300px;
  height: 300px;
  margin: 0 auto 67px;
}
.board img{
  width: 300px;
  height: 300px;
  object-fit: cover;
  box-shadow: 5px 10px 20px rgba(0,0,0,0.35);
}
.board p{
  position: absolute;
  top: 10px;
  left: 10px;
  font-size: 40px;
  font-family: 'Quicksand',sans-serif;
  color: #fff;
  text-shadow:
  1px 1px 1px #fff,
  1px -1px 1px #fff,
  -1px 1px 1px #000,
  -1px -1px 1px #000,
  0 0 22px #000;
}

.aboutbox{
  width: 300px;
  display: inline-block;
  margin: 7px auto;
}

.about1{
  margin:10px;
}
.about2{
  margin:10px 0;
}
.about3 p{
  color: #709ac3;
}

.soccerball{
  width: 50px;
  height: 50px;
}
// homeここまで


// usersindexここから
.double-frame-use{
  padding: 0.5em 1em;
  border: double 5px #4ec4d3;
}

.marginbottom1{
  margin-bottom: 0;
}
.marginbottom2{
  margin-bottom: 10px;
}
// usersindexここまで


// usershowここから
.button-width{
  width: 100%;
}
.show-border{
  border-bottom: 1px solid #767676;
  margin-bottom: 15px;
  text-align: center;
}
// usershowここまで


// postsindexここから
#plan{
  font-size: 20px;
  background: limegreen;
  color: #fff;
  border-radius: 5px;
}
#now{
  font-size: 20px;
  background: tomato;
  color: #fff;
  border-radius: 5px;
}
#pleasant{
  font-size: 20px;
  background: orange;
  color: #fff;
  border-radius: 5px;
}
#serious{
  font-size: 20px;
  background: pink;
  color: #fff;
  border-radius: 5px;
}
.change-post-condition{
  font-size: 13px;
  float: left;
  color: #fff;
  padding: 2px 5px;
  border-radius: 5px;
}
.body-plan{
  background: limegreen;
}
.body-now{
  background: tomato;
}
.body-pleasant{
  background: orange;
}
.body-serious{
  background: pink;
}
.time-right{
  text-align: right;
}
.posts-frame2{
  border: 1px solid #767676;
  border-radius: 10px;
  line-height: 43px;
}
.posts-frame2 p{
  margin-bottom:0;
}
.double-frame{
  padding: 0.5em 1em;
  margin: 2em 0;
  border: double 5px #4ec4d3;
}
.right-link{
  text-align: right;
}
.margin-right1{
  margin-right: 10px;
  display: inline-block;
}
.postsblock p{
  overflow: hidden;
   text-overflow: ellipsis;
   white-space: nowrap;
}
.post-footer{
  height: 50px;
}
.posts-icon{
  width: 160px;
  text-align: center;
}
.change-post{
  margin-bottom: 100px;
}

// postsindexここまで

// postsshowここから
.posts-icon{
  margin: 10px 10px 0 20px;
}

// postsshowここまで


// roomindexここから
.row-room-index{
  margin-bottom: 40px;
}
.block{
  border: 1px solid #76767676;
}
.imageblock{
  display: inline-block;
}
.talkblock{
  display: inline;
  width: 100%;
}
.talkblock p{
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.unread-room-num{
  width: 30px;
  height: 30px;
  margin: 10px auto;
  padding: 6px;
  color: #fff;
  background: tomato;
  border-radius: 50px;
  font-size: 11px;

}
// roomindexここまで


// roomshowここから
.room-header-block{
  height: 62px;
}
.room-backcolor{
  background-color: #0296ff1c;
  padding-top: 50px;
  padding-bottom: 30px;
}
.room-name{
  font-size: 30px;
  font-weight: bold;
  margin:35px 10px;
}
.talk-light{
  text-align: right;
}
.room-contain-me{
  margin: 30px 0;
}

.room-talk-me{
  font-weight: bold;
  color: #fff;
  background-color: skyblue;
  display: inline-block;
  padding: 7px;
  border-radius: 10px 20px 0px 10px;
}
.talk-and-time-me{
margin-right: 10px;
}
.talk-and-time-you{
  margin-left: 10px;
}
.room-contain-you{
  display: flex;
  margin: 30px 0;
}
.room-talk-you{
  font-weight: bold;
  background-color: #8c868630;
  display: inline-block;
  padding: 7px;
  border-radius: 20px 10px 10px 0;
}
.room-time{
  font-size: 10px;
  color: #767676;
}

.talk-input{
  width: 100%;
  min-height: 25px;
  max-height: 250px;
  margin-right: 10px;
  border-radius: 4px;
  resize: none;
  padding: 3px;
}
.input-button{
  display: flex;
}
.send-button{
  width: 100px;
  border-radius: 4px;
}
.send-button:hover{
  cursor : pointer;
  background: skyblue;
}
// roomshowここまで



// footerここから
footer{
  margin-top: 100px;
}
.footer-navbar{
  padding: 0;
}
.footer-navbar ul li{
  display: inline-block;
  width: 200px;
  margin-bottom: 15px;
}
nav ul {
  list-style: none;
}
.copyright{
  background-color: #007bff;
  color: #fff;
  text-align: center;
  line-height: 50px;
  height: 50px;
}

.copyright p {
  margin: 0;
}
// footerここまで


// media query
@media screen and (max-width: 568px){

  .frame{
    width: 95%;
    margin:0 auto;
  }
  .smartphone img{
    width: 290px;
  }
  .phone-size img{
    width: 270px;
  }

//   .fixed1 {
//   background: none;
// }
//
// .fixed1::before {
//   content: "";
//   display: block;
//   position: fixed;
//   top: 0;
//   left: 0;
//   -webkit-transform: translate3d(0, 0, -1px);
//   transform: translate3d(0, 0, -1px);
//   width: 100%;
//   height: 60px;
//   background: url("/images/footsal11.jpg") center/cover no-repeat;
//   -webkit-background-size: cover;
// }

}
