/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *

 */
 // Custom bootstrap variables must be set or imported *before* bootstrap.
 @import "bootstrap";

 * {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
 }
// bodyの大枠
 .frame{
   width: 80%;
   margin:0 auto;
 }

 section{
   margin: 100px auto;
 }

// variousscreen
 .center{
   text-align: center;
 }
 .radius{
   border-radius: 50px;
 }
 .margin1{
   margin:30px auto;
 }
 .margin2{
   margin:10px auto;
 }
 .font1{
   font-size: 18px;
   font-weight: bold;
 }
 .font2{
   font-size: 20px;
   font-weight: bold;
 }
 .font3{
   font-size: 13px;
   color: #484040b3;
 }
// variousscreen

// homeここから
.header-image{
  width: 100%;
  height: 550px;
  margin: 0 ;
  background: url("hujitaena116.jpg") no-repeat center center / cover;
}

.flex{
  margin:0 auto 30px;
}

.item2{
 margin: 10px;
}

.contain{
  display: flex;
  flex-wrap: wrap;
}

.team{
  width: 300px;
  height: 300px;
  margin: 0 auto 67px;
  background-color: tomato;
}
.post{
  width: 300px;
  height: 300px;
  margin: 0 auto 67px;
  background-color: skyblue;
}
.board{
  width: 300px;
  height: 300px;
  margin: 0 auto 67px;
  background-color: limegreen;
}

.aboutbox{
  width: 300px;
  display: inline-block;
  margin: 7px auto;
}

.about1{
  margin:10px;
}
.about2{
  margin:10px 0;
}
.about3 p{
  color: #709ac3;
}

.soccerball{
  width: 50px;
  height: 50px;
}
// homeここまで


// roomindexここから
.row-room-index{
  margin-bottom: 40px;
}
.block{
  border: 1px solid #76767676;
  // height: 180px;
}
.imageblock{
  display: inline-block;
}
.talkblock{
  display: inline;
  width: 100%;
}
.talkblock p{
  overflow: hidden;
   text-overflow: ellipsis;
   white-space: nowrap;
}
// roomindexここまで


// roomshowここから

.room-backcolor{
  background-color: #b3f9f224;
  padding-top: 50px;
  padding-bottom: 30px;
}
.room-name{
  font-size: 30px;
  font-weight: bold;
  margin:35px 10px;
}
.talk-light{
  text-align: right;
}
.room-contain-me{
  margin: 30px 0;
}

.room-talk-me{
  font-weight: bold;
  color: #fff;
  background-color: skyblue;
  display: inline-block;
  padding: 7px;
  border-radius: 10px 20px 0px 10px;
}
.talk-and-time-me{
margin-right: 10px;
}
.talk-and-time-you{
  margin-left: 10px;
}
.room-contain-you{
  display: flex;
  margin: 30px 0;
}
.room-talk-you{
  font-weight: bold;
  background-color: #8c868630;
  display: inline-block;
  padding: 7px;
  border-radius: 20px 10px 10px 0;
}
.room-time{
  font-size: 10px;
  color: #767676;
}

.talk-input{
  width: 100%;
  min-height: 25px;
  max-height: 250px;
  margin-right: 10px;
  border-radius: 4px;
  resize: none;
  padding: 3px;
}
.input-button{
  display: flex;
}
.send-button{
  width: 100px;
  border-radius: 4px;
}
.send-button:hover{
  cursor : pointer;
  background: skyblue;
}
// roomshowここまで



// footerここから
footer{
  margin-top: 100px;
}
.footer-navbar{
  padding: 0;
}
.footer-navbar ul li{
  display: inline-block;
  width: 200px;
  margin-bottom: 15px;
}
nav ul {
  list-style: none;
}
.copyright{
  background-color: #007bff;
  color: #fff;
  text-align: center;
  line-height: 50px;
  height: 50px;
}
.copyright p {
  margin: 0;
}
// footerここまで
